from datetime import timedelta, datetime
a = str(input('Qual o horario de entrada no formato HH:MM: '))
now = datetime.strptime(a,'%H:%M')
print("Horario de Entrada: ",now)
print("Horario Regular de Saida: ", str(now + timedelta(hours=9)))
print("Horario Maximo de Saida sem e-Days", str(now + timedelta(hours=10)))
print("Horario Maximo de Saida COM e-Days", str(now + timedelta(hours=11)))
